<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954795306223-2b8ier03jtevaqmv6vrk8vmpfu3nqib5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954795306223-2b8ier03jtevaqmv6vrk8vmpfu3nqib5</string>
	<key>API_KEY</key>
	<string>AIzaSyDIUGdSJWAaMr3Epdpx3esCQiaidEOLMGM</string>
	<key>GCM_SENDER_ID</key>
	<string>954795306223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AgendaPersonalizada</string>
	<key>PROJECT_ID</key>
	<string>agendapersonalizada-d87fa</string>
	<key>STORAGE_BUCKET</key>
	<string>agendapersonalizada-d87fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954795306223:ios:0031e19a4d9a6a522fff1a</string>
</dict>
</plist>